name: Windows Test

on:
  push:
    paths-ignore:
      - "**.md"
      - "LICENSE"
  pull_request:
    paths-ignore:
      - "**.md"
      - "LICENSE"

permissions:
  contents: read

env:
  WORKING_DIRECTORY: example

jobs:
  integration-test:
    runs-on: windows-${{ matrix.os-version }}
    timeout-minutes: 60
    strategy:
      matrix:
        os-version: [2025, 2022, "11-arm"]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          channel: stable
          cache: true

      - name: Flutter Version
        run: flutter doctor -v

      - name: Install Dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: flutter pub get

      - name: Run Integration Tests
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: flutter test integration_test -d windows --ignore-timeouts
